.ciphertext-display {
    height: 60px;
    width: 90%;
    border: 1px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plaintext-display {
    height: 60px;
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.key-display {
    height: 60px;
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Parent of the text area (input area) */
.ciphertext-div {
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.ciphertext-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    width: 75%;
    padding: 10px;
}

.crib-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    width: 15%;
    padding-top: 5px;


}