.ciphertext-display {
    height: 60px;
    width: 90%;
    border: 1px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
	width: 90%;
	overflow-x: auto;
	white-space: nowrap;
    padding: 50px;
}

table, th, td, input {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td, input {
    width: 35px;
    height: 35px;
    text-align: center;
}

.plaintext-display {
    height: 60px;
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.key-display {
    height: 60px;
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 /* .ciphertext-display .item {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid black;
} */

/* Parent of the text area (input area) */
.ciphertext-div {
    width: 90%;
    /* border: 1px solid red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.ciphertext-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    width: 75%;
    padding: 10px;
}

.crib-input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    width: 15%;
    padding-top: 5px;


}